@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-red: hsl(1, 90%, 64%);
	--color-blue: hsl(219, 85%, 26%);
	--color-white: hsl(0, 0%, 100%);
	--color-very-light-grayish-blue: hsl(210, 60%, 98%);
	--color-light-grayish-blue-1: hsl(211, 68%, 94%);
	--color-light-grayish-blue-2: hsl(205, 33%, 90%);
	--color-grayish-blue: hsl(219, 14%, 63%);
	--color-dark-grayish-blue: hsl(219, 12%, 42%);
	--color-very-dark-blue: hsl(224, 21%, 14%);
}

html {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 16px;
	color: hsl(219, 12%, 42%);
}

.text-bold {
	font-weight: 800;
}

.text-bold-blue {
	font-weight: 800;
	color: hsl(219, 85%, 26%);
}

img {
	width: 100%;
	display: block;
}

body {
	height: 100vh;
	background-color: var(--color-very-light-grayish-blue);
}

header {
	display: flex;
	justify-content: space-between;
}

header p:nth-child(1) {
	font-weight: 800;
	font-size: 1.3rem;
	color: black;
}

.mark-all-read {
	cursor: pointer;
}

.count {
	background-color: var(--color-blue);
	color: white;
	padding: .2rem .7rem;
	font-weight: 800;
	margin: 0 auto 0 .5rem;
	font-size: 1rem;
	border-radius: .4rem;
}

main {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	background-color: var(--color-white);
	margin: 0 auto;
	width: 100%;
	padding: 1rem;
	max-width: 900px;
}

.card {
	display: grid;
	grid-template-columns: 6ch auto auto;
	grid-template-rows: auto auto auto;
	grid-template-areas: 
		"person-icon message extra-icon"
		"person-icon received extra-icon"
		". response .";
	padding: 1rem 1rem 1rem 0;
	border-radius: 1rem;
	font-size: clamp(15px, 3vw, 20px);
}

.card img {
	width: 40px;
}

.card figure:nth-child(1) {
	grid-area: person-icon;
}

/* Image of person */
.card figure:nth-child(1) img {
	margin: 0 auto;
}

.card > p:nth-child(2) {
	grid-area: message;
}

.card > p:nth-child(3) {
	grid-area: received;
	justify-self: flex-start;
}

.card > figure:nth-child(3) {
	grid-area: extra-icon;
	margin: 0 0 0 auto;
}

/* Name of person */
.card span:nth-child(1) {
	font-weight: 800;
	color: black;
}

.card .response {
	grid-area: response;
	border: 1px solid var(--color-light-grayish-blue-2);
	border-radius: .5rem;
	margin-top: 1rem;
	padding: 1rem;
}

.card-unread {
	background-color: var(--color-very-light-grayish-blue);
}

/* Red dot to mark unread messages */
.card-unread p:nth-child(2)::after {
	content: "\2022";
	font-weight: 800;
	color: var(--color-red);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}